<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nhibernate" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <nhibernate xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="NHibernate.TestCms">
      <property name="show_sql">True</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SQLiteDriver</property>
      <property name="connection.connection_string">Data Source=|app_data|\Battleship.db;Version=3</property>
      <property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
      <mapping assembly="Feihuobuke.Battleship.Library" />
    </session-factory>
  </nhibernate>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.4000" newVersion="3.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>